/*  yangchun*/
*{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol{list-style: none;}
img{border: none;}
body{background: #6ea7b2;font-family: 微软雅黑;font-size: 14px;}
a{text-decoration: none;}
em{font-style: normal;color: #52abdb;}
/*公共样式*/

.wrap{width: 1200px;margin: 0 auto; background: #fff;height: 712px;border-radius: 10px;overflow: hidden;}
/*wrapTop  begin*/

.wrapTop{height: 70px;padding: 0 30px;overflow: hidden;}
.logo{display: block;margin-top: 18px;float: left;margin-right: 95px;}
.wrapTRight{float: right;margin-top: 20px;}
.set{background: url("../images/setBg_03.png") no-repeat center;display: inline-block;width: 16px;height: 16px;vertical-align: middle;}
.headImg{width: 32px;height: 32px;overflow: hidden;border-radius: 50%;margin-right: 37px;}
.wrapTR-User{display: inline-block;vertical-align: middle;position: relative;margin-right: 14px;}
.wrapTR-User:before{content: '';width: 1px;height: 22px;background: #e0e6e7;position: absolute;right: 0;top: 50%;margin-top: -11px;}
.wrapTR-User:after{content: '';width: 10px;height: 6px;position: absolute;top: 50%;left: 42px;margin-top: -3px;background: url("../images/jt.png") no-repeat center;}
.wrapTMid{overflow: hidden;margin-top: 16px;}
.wrapTMid div{display: inline-block;text-align: center;background: #ef8989;border-radius: 25px;padding: 0 20px;}
.wrapTMid div em{display: inline-block;height: 40px;line-height: 40px;color: #fff;font-size: 14px;padding-left: 35px;background: no-repeat left center;}
.wrapTMid .hintConnect em{background-image: url("../images/csico.png")}
.wrapTMid .hintDelOk{background: #86ce8b;}
.wrapTMid .hintDelOk em{background-image: url("../images/delico_14.png")}
.wrapTMid .hintSelectFile em{background-image: url("../images/xzwjico_16.png")}
.wrapTMid .hintSelectFile{background: #f3a960;}

/*wrapTop  END */

/* funBlock  begin*/


.funBlock{background: #ecf0f6;padding: 10px 20px;border-top: 1px #d0d9de solid;border-bottom: 1px #d0d9de solid;}
.funBlockLeft{overflow: hidden;}
.funBlockLeft a{height: 36px;line-height: 36px;text-align: center;/*border:1px #d0d9de solid;*/background: #fff;padding: 0 20px;border-radius: 5px;margin-right: 10px;font-size: 14px;display: inline-block;position: relative;overflow: hidden;z-index: 2;box-shadow: 0 0 2px #d0d9de;}
.funBlockLeft a:before{content: '';width: 0;position: absolute;top: 0;left: 50%;background: #52abdb;height: 100%;opacity: 0;z-index: 1;}
.funBlockLeft a:hover:before{width: 100%;left: 0;opacity: 1;}
.funBlockLeft a em{display: inline-block;padding-left: 35px;position: relative;color: #66757f;z-index: 3;}
.funBlockLeft a:hover em{color: #fff;}
.funBlockLeft a em:before{content: '';width: 20px;height: 20px;background: url("../images/xiazaiIc.png") no-repeat left center;position: absolute;top: 50%;margin-top: -10px;left: 0;}
.funBlockLeft a:nth-child(2) em:before{background-image: url("../images/fxIco.png");}
.funBlockLeft a:nth-child(3) em:before{background-image: url("../images/ydIco.png");}
.funBlockLeft a:nth-child(4) em:before{background-image: url("../images/cmmIco.png");}
.funBlockLeft a:nth-child(5) em:before{background-image: url("../images/delIco.png");}
.funBlockLeft a:nth-child(6) em:before{background-image: url("../images/xjwjj.png");}
.funBlockLeft a:hover em:before{background-position: right center;}

.funBlockLeft a:last-child{padding:0 10px;}
.funBlockLeft a:last-child em{height: 36px;padding: 0 10px;}
.funBlockLeft a:last-child em:before{background-image: url("../images/sxIco.png");}

.funBlockRight{float: right;width: 110px;/*overflow: hidden;*/}
.funBlockR-1{float: left;}

.funBlockR-1{width: 36px;height: 36px;background: #fff url("../images/xsbg_03.png") no-repeat center;border: 1px #ddd solid;border-radius: 3px;cursor: pointer;}
.funBlockR-1two,.funBlockR-1:hover{background:#55addc url("../images/xstwo_18.png") no-repeat center;border-color: #55addc;}

.funBlockR-2{float: right;cursor: pointer;position: relative;}
.funBlockR-2Top{width: 56px;height: 36px;background: #fff;border: 1px #ddd solid;border-radius: 3px;}
.funBlockR-2Tcont{position: relative;width: 56px;height: 36px;}
.funBlockR-2Tcont:before{content: '';width: 16px;height: 16px;background: url("../images/pxico_03.png") no-repeat;position: absolute;top: 50%;left: 10px;margin-top: -8px;}
.funBlockR-2Tcont:after{content: '';width: 10px;height: 6px;position: absolute;top: 50%;right: 10px;margin-top: -3px;background: url("../images/jt.png") no-repeat center;}
.funBlockR-2:hover .funBlockR-2Tcont:after{transform: rotate(360deg);background-image: url("../images/pxjt_23.png");}
.funBlockR-2:hover .funBlockR-2Top{height: 50px;border-bottom: none;border-radius: 3px 3px 0 0;}
.funBlockR-2Botm{width: 130px;height: 0;background: #fff;position: absolute;right: 0;top: 60px;z-index: 9;/*box-shadow: 0 0 1px #52abdb;*/opacity: 0;/*overflow: hidden;*/ border-radius: 5px 0 5px 5px;}
.funBlockR-2Botm:before{content: '';width: 54px;height: 0;background: #fff;position: absolute;right: 0;top: -1px;z-index: 9;}
.funBlockR-2:hover .funBlockR-2Botm{top: 50px;height: auto;opacity: 1;border:1px #52abdb solid;}
.funBlockR-2:hover .funBlockR-2Botm:before{height: 1px;}
.funBlockR-2:hover .funBlockR-2Top{border-color: #52abdb;}
.funBlockR-2:hover .funBlockR-2Tcont:before{background-image: url("../images/pxbg_20.png");}
.funBlockR-2BList{height: 0;overflow: hidden;}
.funBlockR-2:hover .funBlockR-2BList{height: auto;}
.funBlockR-2BList li{height: 37px;line-height: 37px;position: relative;}
.funBlockR-2BList li em{display: inline-block;width: 100%;font-size: 14px;color: #66757f;padding-left: 40px;position: relative;z-index: 2;}
.funBlockR-2BList li:before{content: '';width: 0;height: 100%;background: #e1e8ed;position: absolute;left: 0;top: 0;}
.funBlockR-2BList li:hover:before{width: 100%;}
.funBlockR-2BList li:hover em{color: #5eb1de;}
.funBlockR-2BList li em:before{content: '';width: 18px;height: 18px;position: absolute;left: 10px;top: 50%;margin-top: -9px;background:no-repeat left center;}
.funBlockR-2BList li:hover em:before{background-position: right center;}
.funBlockR-2BList .sjpxLi em:before{background-image: url("../images/sjbg.png")}
.funBlockR-2BList .zmpxLi em:before{background-image: url("../images/dxpx.png")}
.funBlockR-2BList .sltLi em:before{background-image: url("../images/xsbg.png")}


/* funBlock  END */


/*  结构 */

.contBoxLeft{width: 258px;border-right: 2px #e1e8ed solid;float: left;height: 580px;padding: 20px 0;}
.contBoxRight{overflow: hidden;}
.contBoxR-Top{width: 100%;height: 48px;border-bottom: 2px #e1e8ed solid;line-height: 48px;padding-left: 15px;}

.contBoxRTopInput{display: inline-block;width: 16px;height: 16px;border:1px #d0d9de solid;cursor: pointer;position: relative;}
.contBoxRTopInput:before{content: '✔';color: #55addc;position: absolute;top: -2px;left: -1px;opacity: 0;line-height: normal;}
.contBoxRTopInput.act{border-color:#55addc; }
.contBoxRTopInput.act:before{opacity: 1;}
.crumbs{display: inline-block;vertical-align: middle;}
.contBoxRTopInput{vertical-align: middle;}
.crumbs i{display: inline-block;vertical-align:middle;width: 11px;height: 20px;background: url("../images/crumbsI_14.png") no-repeat center;}
.crumbs a{display: inline-block;padding: 0 15px;font-size: 14px;color: #000;position: relative;margin-left: 10px;}
.crumbs .crumbsEnd{color: #55addc;}
.crumbs .crumbsEnd:before{content: '';width: 100%;height: 2px;background: #55addc;position: absolute;left: 0;bottom: 2px;}

.treeBox li div{cursor: pointer;position: relative;margin-bottom: 3px;}
.treeBox li div:before{content: '';width: 100%;height: 0;position: absolute;left: 0;top: 50%;background: #55addc;opacity: .5;}
.treeBox li div:hover:before,.treeBox li .divAct:before{height: 100%;top: 0;}
.treeBox li div span{display: block;background:no-repeat 20px center;padding-left: 40px;position: relative;z-index: 2;}
.treeBox li .wjjtyou span{background-image: url("../images/wjjtclose_11.png");}
.treeBox li .wjjtOpen{background-image: url("../images/wjjt_07.png");}
.treeBox li em{font-size: 14px;color: #66757f;padding-left: 24px;background:url("../images/wjclosebg_07.png") no-repeat left center;height: 33px;line-height: 33px;}
.treeBox li .wjOpen{background-image: url("../images/wjopen_07.png");}

.contBoxR-Bottom{background: #f5f8fa;width: 100%;height: 530px;position: relative;overflow: auto;}
.storageLocation{width: 406px;height: 416px;border: 2px #55addc solid;border-radius: 5px;background: #fff;position: absolute;top: 50%;left:50%;padding: 0 20px;box-shadow: 0 0 5px #55addc;margin-top: -208px;margin-left: -203px;}
.SL-Top{height: 55px;line-height: 55px;position: relative;}
.SL-TopClose{position: absolute;right: 0;top: 50%;font-style: normal;width: 15px;height: 15px;background: url("../images/close.png") no-repeat center;margin-top: -7.5px;cursor: pointer;}
.SL-Tit{font-size: 14px;color: #66757f;padding-left: 34px;height: 22px;line-height: 22px;background: url("../images/st-titbg_03.png") no-repeat left center;margin-bottom: 18px;}
.SL-cont{height: 238px;width: 100%;border:1px #ddd solid;margin-bottom: 25px;}
.SL-control{text-align: center;}
.SL-control a{display: inline-block;margin-left: 24px;width: 78px;height: 28px;box-shadow: 0 0 2px #55addc;color: #55addc;line-height: 28px;border-radius: 3px;position: relative;overflow: hidden;}
.SL-control a:before{content: '';width: 0;position: absolute;left: 50%;top: 0;background:#55addc;height: 100%;opacity: 0;z-index: 1;}
.SL-control a:hover:before{width: 100%;left: 0;opacity: 1;}
.SL-control a:hover em{z-index: 2;color: #fff;position: relative;}

.isDel{width: 316px;height: 176px;border-radius: 5px;border:2px #55addc solid;background: #fff;position: absolute;top: 50%;left: 50%;box-shadow: 0 0 5px #55addc;text-align: center;margin-top: -88px;margin-left: -158px; }
.idDelTopTit-1{font-size: 16px;color: #000;margin-bottom: 16px;}
.idDelTopTit-2{color: #000;font-size: 12px;}
.idDelTop{text-align: left;display: inline-block;padding-left: 55px;background: url("../images/whbg.png") no-repeat left center;margin-top: 42px;margin-bottom: 20px;}
.isDel .SL-TopClose{position: absolute;top: 16px;right: 16px;}

.deling{width: 226px;height: 76px;border-radius: 5px;border:2px #55addc solid;background: #fff;position: absolute;top: 50%;left: 50%;box-shadow: 0 0 5px #55addc;text-align: center;margin-top: -38px;margin-left: -113px;padding-top: 20px;}
.delingTit{display: inline-block;padding-left: 60px;font-size: 16px;color: #000;height: 35px;line-height: 35px;position: relative;}
.delingTit:before{content: '';width: 35px;height: 35px;background: url("../images/deling_11.png") no-repeat center;position: absolute;left: 0;top: 0;animation:deling 1.5s linear infinite;}

.NoCont{text-align: center;height: 220px;position: absolute;width: 280px;left: 50%;top: 50%;margin-top: -110px;margin-left: -140px;display: none;}
.NoContImg{width: 180px;height: 127px;background: url("../images/nocontimg.png") repeat-y center 0;display: inline-block;margin-bottom: 20px;/*animation:bgPosition 10s linear infinite alternate;*/}
.NoContTit{color: #66757f;font-size: 24px;}
.NoContBri{color: #66757f;font-size: 14px;line-height: 30px;}

.TabStyleOne{width: 100%;height: 100%;padding: 40px 0;overflow: auto;}
.TabStyleOne li{width: 178px;height: 178px;background: #ebeff0;border-radius: 3px;overflow: hidden;border:1px #ebeff0 solid;display: table;text-align: center;vertical-align: middle;float: left;margin-bottom: 40px;margin-left: 40px;cursor: pointer;}
.TabStyleOne li:hover,.TabStyleOne li.act{box-shadow: 0 0 3px #55addc;border-color: #55addc;background: #fff;}
.TabStyleOneTable{display: table-cell;vertical-align: middle;position: relative;}
.wjjImg{display: inline-block;width: 80px;height: 80px;margin-bottom: 15px;border-radius: 5px;overflow: hidden;}
.wjjTit{color: #66757f;}
.TabStyleOneTable i{display: block;width: 16px;height: 16px;border:1px #ddd solid;position: absolute;left: 10px;top:10px;opacity: 0;}
.TabStyleOneTable i.act{border-color: #52abdb;}
.TabStyleOneTable i.act:before{content: '✔';color: #55addc;position: absolute;top: -2px;left: -1px;}
.TabStyleOne li:hover .TabStyleOneTable i,.TabStyleOne li.act .TabStyleOneTable i{opacity: 1;}




/*缓动*/

:before,:after,a,.funBlockLeft a em,.SL-control a em,.funBlockR-2Top,.funBlockR-1,.funBlockR-2Botm{transition: .4s;}

/*动画*/
@keyframes deling
{
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
/*@keyframes bgPosition
{
    0%   {background-position:center 0 ;}
    100% {background-position:center -1270px ;}
}*/


